@{ 
    ViewBag.Title = "About Devoteam";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>About Devoteam</h2>
        <h3>Entrepreneurs in disruptive technology</h3>
        <p>At Devoteam, we deliver <strong>innovative technology consulting for business.</strong></p>
        <p>We are 4,100 professionals dedicated to ensuring our clients win their digital battles.</p>
        <p>We improve business performance making their companies truly digital. We advise our clients and build IT infrastructure for digital, and make sure people are along for the ride.</p>
    
    <h3>Key facts</h3>    
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <img src="~/img/AboutUs-20Countries.png" alt="countries-img" class="about-img" />
        <h3>Based in 17 countries</h3>
        <p>Devoteam is present in Europe, the Middle East and North Africa</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/img/AboutUs-Turnover.png" alt="turnover-img" class="about-img" />
        <h3>€555M in 2016 turnover</h3>
        <p>45% of sales in France
55% internationally</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/img/AboutUs-entrepreneurShip2.png" alt="entrepeneur-img" class="about-img" />
        <h3>20 years of entrepreneurship</h3>
        <p>We design innovative projects adapted to your business challenges</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/img/AboutUs-ItDrives.png" alt="drives-img" class="about-img" />
        <h3>Wherever IT drives change</h3>
        <p>4100 professionals from consulting to integration</p>

    </div>
</div>