/* site.css */
@font-face {
    font-family: "Benchmark";
    src: url('fonts/PFBenchmarkPro-Regular.otf') format('opentype');
}

#wwworldmap {
    width: 100%;
    min-height: 500px;
    height:100%;
}

#worldmap {
    width: 100px;
    height: 80vh;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

html {
    position: relative;
    min-height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}
.ng-binding {

    width: 100%;
}

body {
    background-color: whitesmoke;
    font-family: Benchmark;
    padding-bottom: 75px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
    background-color: #22D69B;
    margin: 0;
    text-align: center;
}

.headerandfooter {
    width: 100%;
    background-color: #53565A;
}

a {
    color: #22D69B;
}

.btn-danger {
    background-color: #53565A;
    color: #22D69B;
    border-width:0px;
}


 .btn-danger:hover {
        background-color: #22D69B;
        color: #53565A;
    }

.navbar {
    border-width: 0px 0 0;
}

.logo-footer{
    padding: 10px;
    height:75px;
}

td{
    padding: 5px;
    text-align:left;
}

.row{
    text-align:center;
}

form {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.countryName{
    display:inline;
    vertical-align:middle;
}

h3{
    text-align:center;
}

.alert{
    margin-top: 10px;
    margin-bottom:0;
}